table {
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}
tr:nth-child(odd) {
	background-color: #D5F39A;
}

tr:nth-child(even) {
	background-color: #BADFF1;
}
.first table
{
	border:7px double #E8E81B;
}
tr.color_row 
{
	background-color:#FFFB28;
}